<div class="home">
    <nav class="nav-barre">
      <div class="logo">
        <span>VR-BOX</span>
      </div>
      <div class="element">
        <span>HOME</span><span>ABOUT US</span><span>PRODUCT</span><span>APP & GAME</span><span>CONTACT US</span>
      </div>
      <div class="start">
        <button class="btn">GET STARTED</button>
      </div>
    </nav>
    <section class="presentation w-[80%] h-[90vh] flex justify-center items-center flex-row">
       <div class="pres__left w-1/2 h-full flex justify-center items-start flex-col">
        <div class="title w-full h-1/2 flex justify-center items-start flex-col">
            <span>VIRTUAL REALITY</span>
            <span>EXPLORE YOUR </span>
            <span>BEAUTIFUL MIND</span>
        </div>
        <div class="subtitle w-5/6 ">
          <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus quos deleniti neque, incidunt veritatis eveniet.</span>
        </div>
       </div>
       <div class="pres__right w-1/2 h-full overflow-hidden flex justify-center items-center" id="3d"></div>
    </section>
</div>